{# Setup #}
{% extends "_base.jinja" %}
{% block title %}Home{% endblock %}

{# Body content #}
{% block body %}
    <h1>Moopity Moop</h1>
    <h3>Config from database:</h3>
        <p>{{ res }}</p>
        <p>Request time taken: {{ (time() - start)*1000 }}ms</p>
{% endblock body %}